<div class="topbar">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                      <img src="assets/img/test.png" class="logo">  <a class="navbar-brand" href="#">&nbsp;Make a Change</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" routerLink='/about'>About </a>
                      
                    </li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink='/register'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a routerLink='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a routerLink='/userlogin'><span class="glyphicon glyphicon-log-in"></span> UserLogin</a></li>
                  </ul>
                </div>
              </nav>
              </div>
