
<div class="box1" >
    <img src="assets/img/box1.jpg" class="img">
    <div class="overlay">
        <h3>What we do?</h3>
        <div class="text">
        <p>Greenpeace exists because this fragile earth deserves a voice. It needs solutions. It needs change. It needs action.
            Some people look at a forest, and all they see is lumber. But there are millions more who see a home, a heritage, a future. Around the globe, we are standing up for our communities, and we are holding governments and corporations accountable. Whether on the streets or at the ballot box, we hold the real power when we work together. </p>
        </div>

        <h3>Our Vision</h3>
        <div class="text">
            <p>We believe optimism is a form of courage. We believe that a billion acts of courage can spark a brighter tomorrow.
                To that end we model courage, we champion courage, we share stories of courageous acts by our supporters and allies, we invite people out of their comfort zones to take courageous action with us, individually in their daily lives, and in community with others who share our commitment to a better world.
                
                A green and peaceful future is our quest. The heroes of our story are all of us who believe that better world is not only within reach, but being built today. </p>
            </div>
            <a routerLink=''> <button class="btn">Home</button></a>

    </div>
</div>
