
<div class="main">
    <div class="heading">
            <button type="button" class="btn">Logout</button>
        <h1>Welcome  to Make a Change</h1>
        
    </div>
    <div class="layout" style="display: flex;">
   <div class="box1">
       <img src="https://abeon-hosting.com/images/event-management-logo-png-6.png" class="img1">
       <h3>Upcoming  Events</h3>
       <br>
       <hr>
       <button type="button" routerLink='/userevents' class="btn">View</button>
   </div>
   <div class="box2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Google_Contacts_logo.png" class="img2"><br>
    <h3>Contact Us</h3>
    <br><br>
    <hr>
    <button type="button" class="btn">View</button>
   </div>
   <div class="box3">
       <img src="http://www.nyamaandchips.co.za/images/nyama-chips-suggestion%20box.png?crc=1364014" class="img2">   
       <h3>Any Suggestions? </h3>
       <br><br>
       <hr>
       <button type="button" class="btn">View</button>
   </div> 
    
    </div>



    </div>
